<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Yabe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <Yabe.Properties.Settings>
        <setting name="GUI_SplitterLeft" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="GUI_SplitterRight" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="GUI_SplitterButtom" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="GUI_FormSize" serializeAs="String">
          <value>-1, -1</value>
        </setting>
        <setting name="GUI_FormState" serializeAs="String">
          <value>Maximized</value>
        </setting>
        <setting name="Udp_ExclusiveUseOfSocket" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MSTP_DisplayFreeAddresses" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="MSTP_LogStateMachine" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DefaultRetries" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="DefaultTimeout" serializeAs="String">
          <value>2000</value>
        </setting>
        <setting name="DefaultUdpPort" serializeAs="String">
          <value>47808</value>
        </setting>
        <setting name="DefaultBaudrate" serializeAs="String">
          <value>38400</value>
        </setting>
        <setting name="DefaultSourceAddress" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="DefaultMaxMaster" serializeAs="String">
          <value>127</value>
        </setting>
        <setting name="DefaultMaxInfoFrames" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="Subscriptions_IssueConfirmedNotifies" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Subscriptions_Lifetime" serializeAs="String">
          <value>120</value>
        </setting>
        <setting name="GUI_LastFilename" serializeAs="String">
          <value />
        </setting>
        <setting name="DefaultDownloadSpeed" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="Segments_ProposedWindowSize" serializeAs="String">
          <value>20</value>
        </setting>
        <setting name="Segments_Max" serializeAs="String">
          <value>65</value>
        </setting>
        <setting name="TimeSynchronize_UTC" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Udp_DontFragment" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Udp_MaxPayload" serializeAs="String">
          <value>1472</value>
        </setting>
        <setting name="Address_Space_Structured_View" serializeAs="String">
          <value>List</value>
        </setting>
        <setting name="DefaultUdpIp" serializeAs="String">
          <value />
        </setting>
        <setting name="DefaultWritePriority" serializeAs="String">
          <value>LOWEST_AND_DEFAULT</value>
        </setting>
        <setting name="YabeDeviceId" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="DefaultBBMD" serializeAs="String">
          <value />
        </setting>
        <setting name="Subscriptions_ReplacementPollingPeriod" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="Auto_Store_Object_Names_File" serializeAs="String">
          <value>C:\Yabe Stored Object Names\Auto_Stored_Object_Names.YabeMap</value>
        </setting>
        <setting name="IPv6_Support" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowDescriptionWhenUsefull" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="DisplayIdWithName" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Plugins" serializeAs="String">
          <value>CheckReliability, CheckStatusFlags, ListOutOfService, GlobalCommander</value>
        </setting>
        <setting name="GraphDotStyle" serializeAs="String">
          <value>Square</value>
        </setting>
        <setting name="GraphLineStep" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SettingsUpgradeRequired" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="COVTimeFormater" serializeAs="String">
          <value>HH:mm:ss</value>
        </setting>
        <setting name="GUI_SubscriptionColumns" serializeAs="String">
          <value>0;46;1;129;2;160;3;60;4;60;5;55;6;60;7;4</value>
        </setting>
        <setting name="GUI_SplitterMiddle" serializeAs="String">
          <value>-1</value>
        </setting>
        <setting name="COV_Export_Path" serializeAs="String">
          <value>C:\COV Graph Exports\</value>
        </setting>
        <setting name="UsePollingByDefault" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Auto_Store_Object_Names" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Auto_Store_Period_Minutes" serializeAs="String">
          <value>5</value>
        </setting>
        <setting name="Vertical_Object_Splitter_Orientation" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="BACnetSCConfigFile" serializeAs="String">
          <value>BACnetSCConfig.config</value>
        </setting>
        <setting name="Proprietary_Properties_Files" serializeAs="String">
          <value>Proprietary-properties.csv</value>
        </setting>
        <setting name="Show_Property_Id_Numbers" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ShowHighLightFilter" serializeAs="String">
          <value>True</value>
        </setting>
      </Yabe.Properties.Settings>
    </userSettings>
  <dllmap dll="libX11" target="libX11.so.6" os="!windows" />
  <dllmap dll="libc" target="libc.so.6" os="!windows" />
  <dllmap dll="libstdc++" target="libstdc++.so.6" os="!windows" />
  <dllmap dll="System.Native" target="libmono-native.so" os="!windows" />
  <dllmap dll="libglib-2.0-0.dll" target="libglib-2.0.so.0" />
  <dllmap dll="libgobject-2.0-0.dll" target="libgobject-2.0.so.0" />
  <dllmap dll="libatk-1.0-0.dll" target="libatk-1.0.so.0" />
  <dllmap dll="libgtk-win32-2.0-0.dll" target="libgtk-x11-2.0.so.0" />
  <dllmap dll="libgdk-win32-2.0-0.dll" target="libgdk-x11-2.0.so.0" />
  <dllmap dll="gtksharpglue-2" target="libgtksharpglue-2.so" />
  <dllmap dll="glibsharpglue-2" target="libglibsharpglue-2.so" />
  <dllmap dll="libintl" target="libc.so.6" />
  <dllmap dll="i:libxslt.dll" target="libxslt.so" os="!windows" />
  <dllmap dll="i:odbc32.dll" target="libodbc.so" os="!windows" />
  <dllmap dll="i:odbc32.dll" target="libiodbc.dylib" os="osx" />
  <dllmap dll="oci" target="libclntsh.so" os="!windows" />
  <dllmap dll="db2cli" target="libdb2_36.so" os="!windows" />
  <dllmap dll="MonoPosixHelper" target="libMonoPosixHelper.so" />
  <dllmap dll="libmono-btls-shared" target="libmono-btls-shared.so" />
  <dllmap dll="i:msvcrt" target="libc.so.6" os="!windows" />
  <dllmap dll="i:msvcrt.dll" target="libc.so.6" os="!windows" />
  <dllmap dll="sqlite" target="libsqlite.so.0" os="!windows" />
  <dllmap dll="sqlite3" target="libsqlite3.so.0" os="!windows" />
  <dllmap dll="libX11" target="libX11.so.6" os="!windows" />
  <dllmap dll="libgdk-x11-2.0" target="libgdk-x11-2.0.so.0" os="!windows" />
  <dllmap dll="libgdk_pixbuf-2.0" target="libgdk_pixbuf-2.0.so.0" os="!windows" />
  <dllmap dll="libgtk-x11-2.0" target="libgtk-x11-2.0.so.0" os="!windows" />
  <dllmap dll="libglib-2.0" target="libglib-2.0.so.0" os="!windows" />
  <dllmap dll="libgobject-2.0" target="libgobject-2.0.so.0" os="!windows" />
  <dllmap dll="libgnomeui-2" target="libgnomeui-2.so.0" os="!windows" />
  <dllmap dll="librsvg-2" target="librsvg-2.so.2" os="!windows" />
  <dllmap dll="libXinerama" target="libXinerama.so.1" os="!windows" />
  <dllmap dll="libasound" target="libasound.so.2" os="!windows" />
  <dllmap dll="libcairo-2.dll" target="libcairo.so.2" os="!windows" />
  <dllmap dll="libcairo-2.dll" target="libcairo.2.dylib" os="osx" />
  <dllmap dll="libcups" target="libcups.so.2" os="!windows" />
  <dllmap dll="libcups" target="libcups.dylib" os="osx" />
  <dllmap dll="i:kernel32.dll">
    <dllentry dll="__Internal" name="CopyMemory" target="mono_win32_compat_CopyMemory" />
    <dllentry dll="__Internal" name="FillMemory" target="mono_win32_compat_FillMemory" />
    <dllentry dll="__Internal" name="MoveMemory" target="mono_win32_compat_MoveMemory" />
    <dllentry dll="__Internal" name="ZeroMemory" target="mono_win32_compat_ZeroMemory" />
  </dllmap>
  <dllmap dll="gdiplus" target="libgdiplus.so.0" os="!windows" />
  <dllmap dll="gdiplus.dll" target="libgdiplus.so.0" os="!windows" />
  <dllmap dll="gdi32" target="libgdiplus.so.0" os="!windows" />
  <dllmap dll="gdi32.dll" target="libgdiplus.so.0" os="!windows" />
</configuration>
